<div class="row">
    <div class="col">
        <form (ngSubmit)="onSubmit()" [formGroup]='signupForm'>
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" formControlName="username" type="text">
                <label for="password">Password</label>
                <input class="form-control" formControlName="password" type="password">
                <label for="role">Role</label>
                <select class="form-control" formControlName="role">
                    <option value="Admin">Admin</option>
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                </select>
            </div>
            <button [disabled]="!signupForm.valid" type="submit" class="btn btn-success">Sign Up</button>
        </form>
    </div>
</div>
