<div class="row">
    <div class="col">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <div class="form-group">
                <!-- Correctly linked <label> with <input> using id -->
                <label for="username">Username</label>
                <input class="form-control" id="username" name="usernameField" formControlName="username" type="text" autocomplete="username">
                <div class="form-group password-field-container">
                    <label for="password">Password:</label>
                    <input
                      id="password"
                      [type]="passwordVisible ? 'text' : 'password'"
                      formControlName="password"
                      class="form-control"
                      placeholder="Enter your password"
                    />
                    <button
                      type="button"
                      class="password-toggle"
                      (click)="togglePasswordVisibility()"
                    >
                      {{ passwordVisible ? 'Hide' : 'Show' }}
                    </button>
                  </div>
                
                
                
                <label for="role">Role</label>
                <select class="form-control" id="role" name="roleField" formControlName="role"autocomplete="current-role">
                    <option value="Admin">Admin</option>
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                </select>
            </div>
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success">Login</button>
        </form>
    </div>
</div>
<div *ngIf="serverMessage" [ngClass]="{ 'error-message': isError, 'success-message': !isError }">
    {{ serverMessage }}
</div>


